body {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    
}
.box {
    border-radius: 10px;
    background: #575757;
    box-shadow:  20px 20px 60px #4a4a4a,
                 -20px -20px 60px #646464;
    padding-left: 10px;
    padding-bottom: 0.1px;
    margin-left: 140px;
}

