body {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    
}
.box {
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 0.1px;
    margin-left: 140px;
    background-color: darkgray;
}

