body {
    background: #fff;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    border-color: #000;
}

a {
    color: inherit;
}

.dark {
    background: #000;
    color: #fff;
    border-color: #fff;
}

.header {
    position: sticky;
    text-align: center;
}

.card-base {
    border: 3px solid;
    border-radius: 0;
    box-shadow: 15px 15px 0 -2.5px #000, 15px 15px 0 0 #000;
    margin: auto;
}

.card-base-dark {
    border: 3px solid;
    border-radius: 0;
    box-shadow: 15px 15px 0 -2.5px #fff, 15px 15px 0 0 #fff;
    margin: auto;
}

.card-welcome {
    position: static;
    margin-top: 50px;
    font-size: 5vw;
    text-align: center;
    max-width: 80vw;
}

.card-text-alt1 {
    max-width: 50vw;
    padding-left: 5px;
    margin-top: 80px;
}

.card-text-alt2 {
    margin-top: 80px;
    max-width: 50vw;
    text-align: center;
    padding-bottom: 5px;
}

.fade-in {
    transition:  background 0.6s ease, color 1s ease;
    transition: border 0.6s ease, color 1s ease;
}

button {
    background: inherit;
    color: inherit;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid;
    border-radius: 0;
    box-shadow: 0.1em 0.1em;

}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
   
button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}