body {
    background: white;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.dark-mode {
    background: black;
    color: white;
}

.header {
    position: sticky;
}

.card-base {
    border: 3px solid #000;
    border-radius: 0;
    box-shadow: 15px 15px 0 -2.5px #000, 15px 15px 0 0 #000;
    margin: auto;
}

.card-base-dark {
    border: 3px solid white;
    border-radius: 0;
    box-shadow: 15px 15px 0 -2.5px white, 15px 15px 0 0 white;
    margin: auto;
}

.card-welcome {
    position: static;
    margin-top: 50px;
    font-size: 5vw;
    text-align: center;
    max-width: 80vw;
}

.card-text-alt1 {
    max-width: 50vw;
    padding-left: 5px;
    margin-top: 80px;
}

.card-text-alt2 {
    margin-top: 80px;
    max-width: 50vw;
    text-align: center;
    padding-bottom: 5px;
}

.fade-in {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}